feat: Feature non-ISO times

### Feature scope

Taps (catalog, state, stream maps, tests, etc.)

### Description

For example, `8:30:00`. This value does not conform to [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), but we should still handle it correctly.

The SDK does not seem to emit that type of strings for `datetime.time` types, so they're most likely coming from elsewhere in the ecosystem.

Related: https://github.com/transferwise/pipelinewise-tap-mysql/pull/187